.connector-card-columns {
  margin-left: -1%;
  a:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .card {
    width: calc(100% / 6 - 1%);
    @media #{$xs} {
      width: calc(100% / 3 - 1%);
    }
    @media #{$sm} {
      width: calc(100% / 4 - 1%);
    }
    margin-left: 1%;
    float: left;
  }
  .card-img {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    min-height: 110px;
  }
  img {
    max-width: 77px;
    max-height: 77px;
  }
  .card-footer {
    white-space: nowrap;
    padding: .75rem .75rem;
  }
}
