---
---

$mover-blue: #0076BD;

@import 'defaults';

html {
  position: relative;
  min-height: 100%;
}
body {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  font-weight: 300;
}

nav.navbar-mover {
  background: #fff; 
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  .nav-link {
    color: $mover-blue;
    padding-left: 2em;
  }
}
.navbar-brand {
  width: 7.5em; 
}
.content-home {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex: 1;
  -ms-flex: 1; 
  flex: 1;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  background-color: $mover-blue;
  background-image: url(../img/grain.png);
  background-size: 128px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  //box-shadow: 0 1px 1px rgba(0,0,0,.5);
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    margin: 0 auto;
    margin-left: -20px;
    border-style: solid;
    border-width: 0 20px 12px 20px;
    border-color: transparent transparent #fff transparent;
  }
}

.content-blue {
  position: relative;
  display: flex;
  background-color: $mover-blue;
  background-image: url(../img/grain.png);
  background-size: 128px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    margin: 0 auto;
    margin-left: -20px;
    border-style: solid;
    border-width: 0 20px 12px 20px;
    border-color: transparent transparent #fff transparent;
  }
}

.content-main {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1; 
  flex: 1;
  -ms-flex-align: center;
  -webkit-box-align: center;
  padding: 2em 0;
}

.page-title {
  font-weight: 100;
  font-size: 4em;
}

.homepage {
  .card {
    border: 0;
    h3 { color: #fff; }
    img {
      display: inline-block;
      background-position: center center;
      background-size: cover;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      box-shadow: inset 0 0 2px rgba(0,0,0,.7);
      border: 1px solid #fff;
    }
  }
  .index-cta {
    font-size: 1.3em;
  }
}

h2, h3, h4 {
  font-weight: 300;
  text-transform: uppercase;
  white-space: normal;
  color: $mover-blue;
}

h2 {
  border-bottom: 1px solid $mover-blue;
  margin-bottom: 1em;
}

.services-icon {
  width: 90px;
  display: block;
  border-radius: 45px;
  margin: 30px auto 0 auto;
}

footer {
  .card {
    border: 0;
    .card-title {
      font-weight: 300;
      font-size: 1.3em;
      color: $mover-blue;
    }
    a {
      color: inherit;
    }
  }
}

@import 'counter';
@import 'connectors';
@import 'pricing';
@import 'about';
