<div class="content-blue">
  <div class="container-fluid">
    <div class="container container-count">
      <div class="row p-y-lg">
        <div class="files-moved">
          <nobr>
            <div class="file-counter" data-processed="7449074931" data-rate="630" data-updated-at="1394926351">
              7449074931
            </div>
          </nobr>
          <div class="count-label">
            — FILES AND COUNTING —
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
