<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Company</h3>
          <ul class="list-unstyled text-uppercase">
            <li>About Mover</li>
            <li>Join the Team</li>
            <li>Legal</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Community</h3>
          <ul class="list-unstyled text-uppercase">
            <li>Blog</li>
            <li>Media</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Support</h3>
          <ul class="list-unstyled text-uppercase">
            <li>Support Home</li>
            <li>Knowledge Base</li>
            <li>Suggestions</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</footer>


  <!-- jQuery first, then Bootstrap JS. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ site.url }}/css/boostrap/dist/js/boostrap.min.js"></script>

