<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Company</h3>
          <ul class="list-unstyled text-uppercase">
            <li><a href="{{ site.url }}/about">About Mover</a></li>
            <li><a href="{{ site.url }}/legal">Legal</a></li>
            <li><a href="https://blog.mover.io">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Community</h3>
          <ul class="list-unstyled text-uppercase">
            <li><a href="http://support.mover.io" target="_blank">Support Home</a></li>
            <li><a href="https://twitter.com/Mover_io" target="_blank">Twitter</a></li>
            <li><a href="https://facebook.com/Mover.io" target="_blank">Facebook</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-block text-center">
          <h3 class="card-title text-uppercase">Contact</h3>
          <ul class="list-unstyled text-uppercase">
            <li><a href="mailto:sales@mover.io">sales@mover.io</a></li>
            <li><a href="tel:+18664296424">+1 (866) 429-6424</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center text-small p-b-md">Mover is made with love in Edmonton, Canada</div>
    </div>
  </div>
</footer>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js"></script>
<script src="{{ site.url }}/js/verge.min.js"></script>
<script src="{{ site.url }}/js/tether.min.js"></script>
<script src="{{ site.url }}/js/bootstrap-v4-alpha.min.js"></script>
<script src="{{ site.url }}/js/main.js"></script>
